body {
  background-color: #170c0c;
  font-family: poppins;
  font-size: 15px;
  padding-bottom: 170px;
  color: white;
}

.display-4 {
  font-size: 22px;
  letter-spacing: 1px;
  color: white;
}
.lead {
  font-size: 16px;
  text-align: justify;
  color: white;
}
.jumbotron {
  background: none;
}
.pic {
  width: 100%;

  background-size: cover;
  grid-area: image;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pic img {
  float: right;
  width: 420px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.ss {
  border: 1px solid;
  border-color: black;
  border-radius: 10px;

  cursor: pointer;
  background-color: #ffda15;
}
.ss:hover {
  color: white;
  background-color: black;
  border-color: #ffda15;
}
.card {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 220px;
  margin: auto;
  background-color: #170c0c;
  border: 1px solid #1ee86f;
  margin-bottom: 7px;
}
.card:hover {
  transform: scale(1.15);
}
.main {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.gallary img {
  width: 20%;
  height: auto;

  margin-bottom: 15px;
}
.sh h4 {
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
}
.des {
  margin-left: 2px;
  margin-right: 5px;
}
