@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s all ease;
}

body {
  color: white;
  font-size: 16px;
  background-color: #170c0c;
  font-family: poppins, sans-serif;
}

.main {
  /* background: linear-gradient(180deg, #36404b, #20262e); */
  background: linear-gradient(180deg, #423939, #281e1e);
  border-radius: 0 60px 60px 0;
  min-height: 100vh;
  padding: 30px;
}

.card {
  background: linear-gradient(45deg, #054f38, black);
  border-radius: 10px;
  border: none;
  height: 9rem;
  padding: 10px;
  transition: 0.3s all ease;
  margin: auto;
  box-shadow: 0px 4px 15px green;
}

.card:hover {
  /* background: linear-gradient(45deg, #20262e, #36404b); */
  background: linear-gradient(45deg, black, #054f38);
  transform: translateY(-3px);
}

.card-title {
  font-size: 50px;
  font-weight: 400;
  color: #ffda15;
}

.table {
  color: white;
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
}

tr {
  /* background: linear-gradient(45deg, #20262e, #36404b); */

  background: linear-gradient(45deg, #3b3232, #504848);
}
tr:hover {
  /* background: linear-gradient(180deg, #36404b, #20262e); */

  background: linear-gradient(180deg, #504848, #3b3232);
}

.mytable > tbody > tr > td,
.mytable > tbody > tr > th,
.mytable > tfoot > tr > td,
.mytable > tfoot > tr > th,
.mytable > thead > tr > td,
.mytable > thead > tr > th {
  padding: 20px 5px;
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.sidebar {
  position: fixed;
  right: 0;
  background-color: #170c0c;
  top: 0;
  bottom: 0;
}

.nav-link {
  color: #fff;
  padding: 20px 0px;
  text-align: center;
  margin-bottom: 1rem;
}

.navbar-brand img {
  margin-top: 5%;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 0;
    width: 60%;
  }
  .navbar-brand img {
    margin-top: 50px;
  }
  .nav-link {
    padding: 7px 0px;
    margin-bottom: 0;
  }
}

nav {
  text-align: center;
}

.mytable .btn {
  width: 110px;
}

.btn {
  border-radius: 7px;
}

.nav-link:hover {
  color: #000;
  background-color: #ffda15;
  border-radius: 6px;
}

.nav-pills .nav-link.active {
  color: #000;
  background-color: #ffda15;
  border-radius: 6px;
}
.info {
  font-size: 12px;
}
.profile {
  width: 4rem;
  border: 2px solid #ffda17;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.modal-content {
  background: linear-gradient(45deg, #054f38, black);
  border-radius: 10px;
  box-shadow: 4px 4px 15px green;
  transition: all 0.3s ease;
}

.modal-content:hover {
  background: linear-gradient(45deg, black, #054f38);
  transform: translateY(-3px);
}

.modal-content,
.modal-header,
.modal-footer {
  border: none;
}
