body {
  background-color: #170c0c;
  color: white;
  margin: 0;
  padding: 0;

  font-family: poppins;
  font-size: 14px;
  padding-bottom: 50px;
}
.main {
  position: relative;
  width: 700px;
  border-radius: 8px;
  background: linear-gradient(#c3a905, #6ccded);
  box-shadow: 0px 5px 15px green;
}
.mains {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.form h4 {
  margin-top: 20px;

  padding: 0;
  color: white;
  font-size: 17px;
  letter-spacing: 0.5px;
}
.form input.s {
  width: 50%;
  margin-left: 3px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.form .input-box input {
  width: 50%;
  background: white;
  border: 2px solid white;
  border-radius: 8px;

  font-size: 14px;
  color: black;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  outline: none;
  padding: 5px 0;
}
.input-box input[type="text"]:focus {
  border-color: #ffda15;
  box-shadow: 0 0 8px 0 #ffda15;
}
.input-box input[type="email"]:focus {
  border-color: #ffda15;
  box-shadow: 0 0 8px 0 #ffda15;
}
::placeholder {
  color: black;
  text-align: center;
}
.form .input-box input[type="submit"] {
  background: #fff;
  color: #000;
  border: none;
  font-size: 14px;
  max-width: 100px;
  cursor: pointer;
}
.form a {
  text-decoration: none;
}

.form .sb p {
  color: white;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.form .wr {
  background-color: white;
  border-radius: 4px;
  width: 25px;
  height: 25px;
}

.ce {
  padding-top: 10px;
  text-align: center;
  align-items: center;
  margin: auto;
}

.ce input[type="file"] {
  display: none;
}
.ce label {
  font-size: 14px;
  font-family: poppins;
  height: 40px;
  width: 150px;
  border-radius: 3px;
  border: 1px solid none;
  margin: auto;
  color: black;
  background-color: #ffda15;

  display: flex;
  cursor: pointer;
}
.ce label:hover {
  color: white;
  background-color: black;
  border-color: #ffda15;
}
.co textarea {
  background-color: white;
  border-color: none;

  width: 50%;
  height: auto;
  margin: auto;
  border-radius: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 14px;
  font-family: Poppins;
  color: black;
  font-weight: bold;
  margin-bottom: 0;
}
.co textarea:focus {
  border-color: #ffda15;
  box-shadow: 0 0 8px 0 #ffda15;
}
::placeholder {
  font-size: 13px;
  font-family: poppins;
}
.btn {
  color: black;
  background: #ffda15;
  font-size: 14px;
  font-family: Poppins;
  width: 165px;
  height: 40px;
  cursor: pointer;
  margin: 10px;

  text-decoration: none;
  font-weight: 50;

  border-color: none;
}
.cs {
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #ffda15;
  margin: auto;
}

.cs:hover {
  color: white;
  background-color: black;
  border-color: #ffda15;
}
.z a {
  text-align: center;
}
