{% extends "user/base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/donatemoney.css' %}" />
{% endblock css %} {% block content %}
<script>
function myFunction1() {
  var x = document.getElementById("radioid").value;
  document.getElementById("id_amount").value = x;
}
function myFunction2() {
  var x = document.getElementById("radioid1").value;
  document.getElementById("id_amount").value = x;
}
function myFunction3() {
  var x = document.getElementById("radioid2").value;
  document.getElementById("id_amount").value = x;
}
function myFunction4() {
  var x = document.getElementById("radioid3").value;
  document.getElementById("id_amount").value = x;
}
</script>
<div class="mains">
  <div class="main">
    <br />
    <div class="box">
      <h3>Select Your Amount or Input Below</h3>
      <div class="amount">
        <div class="radio-group">
          <div class="n">
            <label for="radioid" class="radio" onclick="myFunction1()">
              <input
                type="radio"
                name="money"
                id="radioid"
                value="500"
                class="radio__input"
              />
              <div class="radio__radio"></div>

              500Tk
            </label>
          </div>
          <div class="n0">
            <label for="radioid1" class="radio" onclick="myFunction2()">
              <input
                type="radio"
                name="money"
                id="radioid1"
                value="1000"
                class="radio__input"
              />
              <div class="radio__radio"></div>
              1000Tk
            </label>
          </div>
          <div class="n1">
            <label for="radioid2" class="radio" onclick="myFunction3()">
              <input
                type="radio"
                name="money"
                id="radioid2"
                value="2000"
                class="radio__input"
              />
              <div class="radio__radio"></div>
              2000Tk
            </label>
          </div>
          <div class="n2">
            <label for="radioid3" class="radio" onclick="myFunction4()">
              <input
                type="radio"
                name="money"
                id="radioid3"
                value="5000"
                class="radio__input"
              />
              <div class="radio__radio"></div>

              5000Tk
            </label>
          </div>
        </div>

        <div class="text-center">
          <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            <span style="display:none">{{form.event}}</span><br />
            {{form.amount}}<br />
            {{form.name}}<br />
            {{form.email}}<br />
            {{form.contact}}<br />
            <div class="form-group co">
              {{form.opinion}}
            </div>
            <input type="submit" class="btn cs" value="Proceed to pay" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
