{% extends "user/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/gallary.css' %}" />
{% endblock css %}
{% block content %}   
      <h1>Our Gallary</h1>
      <br />
      <div class="main">
        <div class="row">
        {% for image in images %}
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sgallary1">
              <div class="gallary">
                <a href="img/1.jpg"
                  ><img src="{{image.image.url}}" alt="wait" width="300" height="200"
                /></a>
                <div class="des">{{image.des}}</div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
{% endblock content %}
